@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

:root {
  --azul: #2a7ae4;
  --azul-dois: #5595e9;
  --azul-claro: #d4e4fa;
  --cinza-escuro: #464646;
  --cinza: #a2a2a2;
  --cinza-claro: #c8c8c8;
  --branco: #ffffff;
  --bg-azul: #eaf2fd;
  --bg-cinza: #f5f5f5;
  --fonte-padrao: 'Raleway', sans-serif;
}

/* Geral */

html {
  font-size: 14px;
  font-weight: 400;
}

body {
  background-color: var(--bg-cinza);
  font-family: var(--fonte-padrao);
  height: 100vh;
}

.botao-primario {
  background-color: var(--azul);
  color: var(--branco);
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.botao-primario:hover {
  background-color: var(--azul-dois);
}

/* Header */

.cabecalho__container {
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.cabecalho__logo {
  width: 100px;
}

.cabecalho__pesquisa {
  display: none;
  background-color: var(--bg-cinza);
  border: none;
  border-radius: 20px;
  padding: 1rem;
  width: 40%;
  font-family: var(--fonte-padrao);
  color: var(--cinza-escuro);
}

.cabecalho__pesquisa::placeholder {
  background: url('../images/search-placeholder.png') no-repeat right / 1.7rem;
  color: var(--cinza);
}

/* Topo */

.topo {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 1rem;
}

.topo__titulo {
  font-weight: 700;
  font-size: 22px;
  color: var(--cinza-escuro);
  margin-bottom: 1rem;
}

.btn__topo {
  width: 152px;
  height: 42px;
}

/* Produtos */

.produtos {
  padding: 0 2rem 2rem;
  color: var(--cinza-escuro);
}
.produtos__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item__link {
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  color: var(--azul);
}

.item__caixa {
  width: 48%;
  margin-bottom: 3rem;
}

.item__imagem {
  width: 100%;
  cursor: pointer;
}

.item__nome {
  font-weight: 500;
  margin-top: 0.6rem;
}

.item__preco {
  font-size: 16px;
  font-weight: 700;
  margin: 0.6rem 0;
}

/* Footer */

.rodape__container {
  background-color: var(--bg-azul);
  padding: 1rem;
  text-align: center;
}

.rodape__lista {
  padding: 1rem 0;
}

.rodape__item {
  margin-bottom: 1rem;
}

.rodape__link {
  font-size: 16px;
  font-weight: 500;
  color: var(--cinza-escuro);
  text-decoration: none;
  cursor: pointer;
}

.rodape__link:hover {
  text-decoration: underline;
  color: var(--azul-dois);
}

/* Footer Contato */

.contato {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contato__titulo {
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--cinza-escuro);
  margin-bottom: 0.6rem;
}

.contato__nome {
  width: 100%;
  height: 56px;
  margin-bottom: 1rem;
  font-size: 16px;
  color: var(--cinza-escuro);
  font-family: var(--fonte-padrao);
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid var(--cinza-claro);
}

.contato__nome::placeholder {
  padding-left: 1rem;
  color: var(--cinza);
}

.contato__mensagem {
  width: 100%;
  height: 82px;
  margin-bottom: 0.6rem;
  font-size: 16px;
  color: var(--cinza-escuro);
  font-family: var(--fonte-padrao);
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid var(--cinza-claro);
}

.contato__mensagem::placeholder {
  color: var(--cinza);
  padding-left: 1rem;
  padding-top: 1rem;
}

.contato__botao {
  align-self: flex-start;
}

/* Copyright */
.copyright {
  background-color: var(--branco);
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.2rem;
  padding: 2rem;
}

.copyright a {
  color: var(--cinza-escuro);
  text-decoration: none;
  transition: 0.3s;
}

.copyright a:hover {
  color: var(--azul);
}

@media screen and (min-width: 768px) {
  /* Header */

  .cabecalho__pesquisa {
    display: block;
    margin: 0 auto 0 2rem;
  }

  .cabecalho__lupa {
    display: none;
  }

  /* Topo */

  .topo {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /* Produtos */

  .produtos {
    padding: 0 1rem 2rem 2rem;
  }

  .produtos__items {
    justify-content: flex-start;
    gap: 1rem;
  }

  .produtos__link,
  .item__link {
    font-size: 16px;
  }

  .item__caixa {
    width: 23%;
  }

  /* Footer */

  .rodape__container {
    display: grid;
    grid-template-areas:
      'logo contact'
      'links contact';
    grid-template-columns: 1fr 2fr;
    column-gap: 3em;
    padding: 2rem;
  }

  .rodape__logo {
    grid-area: logo;
  }

  .rodape__lista {
    grid-area: links;
    text-align: left;
  }

  .rodape__item {
    margin-bottom: 1.785em;
  }

  .rodape__item:last-child {
    margin-bottom: 0;
  }

  .contato {
    grid-area: contact;
  }
  .contato__titulo {
    margin-top: 1rem;
  }

  .copyright {
    padding: 2em;
  }
}

@media screen and (min-width: 1024px) {
  .botao-primario {
    font-size: 16px;
    font-weight: 400;
    width: 164px;
    height: 51px;
  }
  .cabecalho__container,
  .rodape__container {
    padding: 2rem 7rem;
  }

  /* Header */
  .cabecalho__logo {
    width: 100%;
  }

  .cabecalho__pesquisa {
    width: 45%;
  }

  /* Topo */

  .topo {
    padding: 3rem 7rem 0;
  }

  /* Produtos */

  .produtos {
    padding: 1rem 7rem 2rem;
  }

  .produtos__items {
    justify-content: space-between;
    gap: 0;
  }

  .produtos__link,
  .item__link {
    font-size: 16px;
  }

  .item__caixa {
    width: 15%;
  }

  /* Footer */
  .rodape__container {
    grid-template-areas: 'logo links contact';
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 0;
    padding: 3rem 7rem;
  }
}
